/* ----------------- Input styles ----------------- */

.react-form-input-error {
    border-color: #c32128;
    border-width: 2px;
}

.react-form-input-success {
    border-color: #52712d;
    border-width: 2px;
}

/* ----------------- Message styles ----------------- */

.react-form-message {
  margin-bottom: 1rem;
  display: block;
}

.react-form-message-error {
  color: #c32128;
}

.react-form-message-success {
  color: #52712d;
}

/* ----------------- Text styles ----------------- */

.react-form-text {

}

.react-form-text-error {
    color: #c32128;
}

.react-form-text-success {
    color: #52712d;
}

/* ----------------- Control ----------------- */

/* Control */
.react-form-control {
	position: relative;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

/* Hides control inputs */
.react-form-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* ----------------- Control Indicator ----------------- */

/* Control indicator */
.react-form-control-indicator {
	position: absolute;
	top: 2px;
	left: 0;
  background: #e6e6e6;
  border: solid;
  border-width: 1px;
}

/* Hover and focus states */
.react-form-control:hover input ~ .react-form-control-indicator,
.react-form-control input:focus ~ .react-form-control-indicator {
	background: #ccc;
}

/* Checked state */
.react-form-control input:checked ~ .react-form-control-indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.react-form-control:hover input:not([disabled]):checked ~ .react-form-control-indicator,
.react-form-control input:checked:focus ~ .react-form-control-indicator {
	background: #0e647d;
}

/* Disabled state */
.react-form-control input:disabled ~ .react-form-control-indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}